# One-factor analysis of variance (one-way ANOVA)

# In brevi

The purpose of this repository is to illustrate a one-factor analysis of variance (one-way ANOVA). In addition there are statistical and graphical analyses.

# Data

Download the data file.

[anova_one_factor.csv](https://drive.google.com/open?id=1smA0Brf2BiHUugRUhQWCiEj5hbyYv1DS)

# Methodology

Various data munging operations are performed using pandas.

In [1]:
from datetime import datetime
start_time = datetime.now()

In [2]:
# Import the required librairies.
import pandas as pd

/home/gilles/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/gilles/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
# Read the data file.
# y is the column of response values.
# x is the column of factor levels, as numbers.
# w is the column of factor levels, as text.
df = pd.read_csv('anova_one_factor.csv')
df.columns

Index(['y', 'x', 'w'], dtype='object')

In [4]:
# How many levels for factor x?
df['x'].unique()

array([1, 3, 2])

In [5]:
# How many levels for factor w?
df['w'].unique()

array(['A', 'C', 'B'], dtype=object)

In [6]:
# Calculate basic statistics for y by group within x.
groupby_x = df['y'].groupby(df['x'])
groupby_x.describe()

   count       mean       std    min        25%    50%    75%    max
x
1  603.0  81.527902  5.102107  62.44  78.891667  81.60  84.54  99.12
2  159.0  79.875484  4.842203  66.62  76.770000  79.50  82.48  94.66
3   17.0  81.715294  4.065670  76.14  78.360000  81.04  85.90  88.62

In [7]:
# Calculate basic statistics for y by group within w.
groupby_w = df['y'].groupby(df['w'])
groupby_w.describe()

   count       mean       std    min        25%    50%    75%    max
w
A  603.0  81.527902  5.102107  62.44  78.891667  81.60  84.54  99.12
B  159.0  79.875484  4.842203  66.62  76.770000  79.50  82.48  94.66
C   17.0  81.715294  4.065670  76.14  78.360000  81.04  85.90  88.62

In [8]:
end_time = datetime.now()
(end_time - start_time).total_seconds()

0.45609

# References

[pandas](https://pandas.pydata.org/pandas-docs/stable/index.html)